{% extends 'base.html' %}

{% block content %}
{%if last_visited%}
<p>Вы просматривали страницу : {{last_visited}}</p>
{%endif%}
<h2>Название: {{game.name}}</h2>
<img src="{{game.game_image.url}}" alt="{{game.name}}" width="200px" height="300px">
<p>Дата выхода: {{game.release_date}}</p>
<p>{{game.description|safe}}</p>
<p>Стоимость: $ {{game.price}}</p>

<a href="{% url 'store:comment-add' game_slug=game.slug %}">Add comment</a>

{% for comment in comments %}
<p>{{comment.text}}</p>

<a href="{% url 'store:comment-delete' comment.id %}">Delete comment</a>
{% endfor %}
{% endblock content %}